:root {
    --stcolor: black;
    --hvcolor: black;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#hx {
    /*margin-bottom: 50px;*/
    margin-bottom: 0;
    /*color: #ebc711;*/
    color: #000;
    font-size: 40px;
    /*font-size: 250%;*/
    font-family: "Leto Sans";
    /*padding-bottom: 25px;*/
    margin-right: auto;
    padding-left: 23px;
    /*padding-left: 3.25%;*/
    /*line-height: 0.8;*/
}

#xx {
    margin-top: 0;
    /*color: #ebc711;*/
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: -0.5px;
    margin-right: auto;
    padding-bottom: 25px;
    padding-left: 23px;
    /*padding-left: 3.25%;*/
    /*line-height: 0.9;*/
}

/* Обложка */
#block1 {
    /*background-image: url('https://img.freepik.com/premium-photo/construction-equipment-repair-tool-kit-gray-concrete-background-top-view-space-text_594857-51.jpg');*/
    /*background-image: linear-gradient(180deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0.9) 14%, hsla(0, 0%, 0%, 0.8) 27%, hsla(0, 0%, 0%, 0.7) 40%, hsla(0, 0%, 0%, 0.6) 53%, hsla(0, 0% ,0%, 0.4) 67%, hsla(0, 0%, 0%, 0.2) 82%, hsla(0, 0%, 100%, 0) 100%), url(https://img.freepik.com/premium-photo/construction-equipment-repair-tool-kit-gray-concrete-background-top-view-space-text_594857-51.jpg);*/
    /*background-image: linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0.9) 14%, hsla(0, 0%, 0%, 0.7) 27%, hsla(0, 0%, 0%, 0.6) 40%, hsla(0, 0%, 0%, 0.5) 53%, hsla(0, 0% ,0%, 0.4) 67%, hsla(0, 0%, 0%, 0.2) 82%, hsla(0, 0%, 100%, 0) 100%), url(https://img.freepik.com/free-photo/arrangement-yellow-tools-top-view-with-copy-space_23-2148393100.jpg?w=740&t=st=1690827515~exp=1690828115~hmac=353d7d981ea0915121ac1e042f6ea962b0fe90f89f5434d46cccd177b00b54f3);*/
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-blend-mode: screen;
    background-image: url(cover.png);
    background-color: rgb(247, 247, 247, 0);
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*color: white;*/
    overflow: hidden;
    position: relative;
}

#block1 img {
    position: absolute;
    top: 0;
    right: 0;
    /*margin-right: 20%;*/
    /*width: 45%;*/
}

#block1_5 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    /*background-color: rgb(247, 247, 247);*/
}

#block1_5 h1 {
    margin: 0;
    padding: 10px 0 10px 0;
    font-weight: 600;

}

/* 9 колонок в 2 ряда */
#block2 {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
}

#block2 p {
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: 600;
}

#block2 ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: white;
}

#block2 h4 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: white;
}

#block2::after {
    content: '';
    padding: 7px;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9, #c10{
    position: relative;
    overflow: hidden;
}

#c1::before, #c2::before, #c3::before, #c4::before, #c5::before, #c6::before, #c7::before, #c8::before, #c9::before, #c10::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: transform 0.4s ease-in-out;
    transform: translateY(100%);
}

#c1:hover::before, #c2:hover::before, #c3:hover::before, #c4:hover::before, #c5:hover::before, #c6:hover::before, #c7:hover::before, #c8:hover::before, #c9:hover::before, #c10:hover::before {
    transform: translateY(0);
}

#c1 h4, #c2 ul, #c3 ul, #c4 ul, #c5 h4, #c6 h4, #c7 h4, #c8 h4, #c9 ul, #c10 ul {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.5s ease-in-out;
}

#c1:hover h4, #c2:hover ul, #c3:hover ul, #c4:hover ul, #c5:hover h4, #c6:hover h4, #c7:hover h4, #c8:hover h4, #c9:hover ul, #c10:hover ul {
    position: static;
    opacity: 100;
    transform: translateY(0);
}

#c1 p, #c2 p, #c3 p, #c4 p, #c5 p, #c6 p, #c7 p, #c8 p, #c9 p, #c10 p {
    z-index: 1;
}

#c1 {
    background-image: url(https://avatars.dzeninfra.ru/get-zen_doc/5268479/pub_633416bc61119276f45335a7_633416ce0f587505db49fe32/scale_1200);
}

#c1::before {
    background: linear-gradient(0deg, rgba(98, 77, 65, 0.9), rgba(98, 77, 65, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

#c2 {
    background-image: url(https://www.kwadratura23.ru/_mod_files/ce_images/articles/gypsum2.jpg);
}

#c2::before {
    background: linear-gradient(0deg, rgba(124, 121, 115, 0.9), rgba(124, 121, 115, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

#c3 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIut7_4eUem3-n99w6Z_awDAOAvpDBQ5DYzQ&usqp=CAU);   
}

#c3::before {
    background: linear-gradient(0deg, rgba(93, 91, 87, 0.9), rgba(105, 103, 99, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

#c4 {
    background-image: url(https://thumbs.dreamstime.com/b/sintepon-%D0%B8%D0%B7%D0%BE-%D1%8F%D1%86%D0%B8%D1%8F-%D1%8F-%D0%BE-%D0%B5%D0%B6-%D1%8B-%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0-82248807.jpg);
}

#c4::before {
    background: linear-gradient(0deg, rgba(121, 131, 153, 0.9), rgba(134, 144, 166, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));

}

#c6 {
    background-image: url(https://st2.depositphotos.com/1000674/6696/i/450/depositphotos_66962153-stock-photo-equipment-for-installing-electrical-outlets.jpg);   
}

#c6::before {
    background: linear-gradient(0deg, rgba(72, 54, 44, 0.9), rgba(84, 66, 56, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));   
}

#c7 {
    background-image: url(https://st3.depositphotos.com/2673929/18005/i/450/depositphotos_180059016-stock-photo-black-marble-bathroom-white-sink.jpg);   
}

#c7::before {
    background: linear-gradient(0deg, rgba(32, 35, 41, 0.9), rgba(45, 48, 54, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));   
}

#c8 {
    background-image: url(https://thumbs.dreamstime.com/b/plumber-work-bathroom-plumbing-repair-service-assemble-install-concept-plumber-work-bathroom-plumbing-repair-113995223.jpg);
}

#c8::before {
    background: linear-gradient(0deg, rgba(92, 91, 96, 0.9), rgba(101, 101, 106, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));   
}

#c9 {
    background-image: url(https://cdn.create.vista.com/api/media/small/622732468/stock-photo-many-building-corners-reinforcing-mesh);
}

#c9::before {
    background: linear-gradient(0deg, rgba(205, 87, 5, 0.9), rgba(219, 95, 5, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));   
}

#c10 {
    background-image: url(https://i.bigenc.ru/imOx9FZaDmoZxKJlwBZjqmvJo01WHvUGb8Piz4wmjyM/og/ZmY4ZTI4ZjIxZTkzYTAxYzBkNTc0ZmRjMTU5YmI2NzYuanBn.jpg);
}

#c10::before {
    background: linear-gradient(0deg, rgba(124, 112, 108, 0.9), rgba(133, 122, 118, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

@supports (-webkit-text-fill-color: transparent) {
  #c1::before, #c2::before, #c3::before, #c4::before, #c5::before, #c6::before, #c7::before, #c8::before, #c9::before, #c10::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: -webkit-clip-path 0.4s ease-in-out;
    transition: clip-path 0.4s ease-in-out;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }

  #c1:hover::before, #c2:hover::before, #c3:hover::before, #c4:hover::before, #c5:hover::before, #c6:hover::before, #c7:hover::before, #c8:hover::before, #c9:hover::before, #c10:hover::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}


.column {
    background-image: url('https://i.ytimg.com/vi/DkIVqD8pJt8/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    /*max-width: 80vh;*/
    width: 85%;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
}

.column:nth-child(1), .column:nth-child(3), .column:nth-child(5), .column:nth-child(7), .column:nth-child(9) {
    margin-right: 3%;
}

.column:nth-child(2), .column:nth-child(4), .column:nth-child(6), .column:nth-child(8), .column:nth-child(10) {
    margin-left: 3%;
}

/* Подвал */
#block3 {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    text-align: left;
    padding: 15px;
    margin-top: auto;
}

.btn {
    margin-right: auto;
    margin-left: 23px;
    /*margin-left: 3.25%;*/
    /*background-color:#ffffff;*/
    /*background-color: #ebc711;*/
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
    border: solid 2px #fbc700;
    border-radius:13px;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:"Leto Sans";
    font-size:17px;
    font-weight: bold;
    padding:8px 47px;
    text-decoration:none;
    transition: cubic-bezier(0, 0, 0.2, 1) 0.3s;
}
.btn:hover {
    /*background-color:#e6e6e6;*/
    background-color: #fbc700;
}
.btn:active {
    /*position:relative;
    top:1px;*/
    transform: scale(0.9);
    background-color: #ebc711;
    border: solid 2px #ebc711;


}

.bi {
    vertical-align: -2.5px;
}

.fab-container {
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.fab {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--stcolor, orange);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.fab:hover {
    background-color: var(--hvcolor, darkorange);
    transform: scale(1.1);
}


@media (min-width: 2048px) {
    .column {
        width: 60%;
    }
}

/*Человек на моб*/
@media (max-width: 920px) {
    #block1 img {
        display: none;
    }

    #hx {
        line-height: 0.9;
    }

    #xx {
        line-height: 0.9;
    }
}

/*Отступ на больших девайсах*/
@media (min-width: 1024px) {
    #hx {
        padding-left: 2.5em;
    }

    #xx {
        padding-left: 4em;
    }

    .btn {
        margin-left: 5.5em;
    }
}

/*Отступ на маленьких девайсах*/
@media (max-width: 1024px) {
    #hx {
        padding-left: 23px;
    }

    #xx {
        padding-left: 23px;
    }

    .btn {
        margin-left: 23px;
    }
}

/*Колонки в 1 столб*/
@media (max-width: 570px) {
    #block2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .column {
        margin: 0;
        width: 100%;
        /*margin-left: 5%;*/
        margin-bottom: 3px;
    }
    .column:nth-child(1), .column:nth-child(3), .column:nth-child(5), .column:nth-child(7), .column:nth-child(9) {
        margin-right: 0;
    }

    .column:nth-child(2), .column:nth-child(4), .column:nth-child(6), .column:nth-child(8), .column:nth-child(10) {
        margin-left: 0;
    }
}

/*Кнопка по центру на моб*/
@media (max-width: 420px) {
    .btn {
        margin: 0;
    }
}

#whc {
    /*display: inline-block;*/
    float: right;
    /*margin-right: auto;*/
}


/*keyframess*/
@keyframes move {
    0% {
        position: absolute;
    }
    5% {
        position: static;
        /*opacity: 0*/
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}